<div class="d-flex justify-content-between">
  <h1>Invites</h1>
  <%= link_to new_invite_path, class: 'btn rounded-pill btn-outline-primary align-self-center' do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

<div class="card bg-dark">
  <table class="table table-dark mb-0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Code</th>
        <th scope="col">Redeemed</th>
        <th scope="col">Redeemed by</th>
      </tr>
    </thead>
    <tbody>
      <%= render @invites %>
    </tbody>
  </table>
</div>