<div class="d-flex flex-wrap">
  <div class="nav flex-column flex-grow-1 flex-lg-grow-0 me-lg-5 mb-3 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <h1>Account Settings</h1>

    <a class="nav-link active text-white"
            id="v-pills-email-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-email"
            type="button"
            role="tab"
            aria-controls="v-pills-email"
            aria-selected="true">
      Email & Password
    </a>

    <a class="nav-link text-white"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false">
      Profile
    </a>

    <a class="nav-link text-white"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-danger"
            type="button"
            role="tab"
            aria-controls="v-pills-danger"
            aria-selected="false">
      Danger Zone
    </a>

    <%= link_to :back, class: 'btn btn-secondary mt-3' do %>
      <i class="fas fa-long-arrow-alt-left"></i> Back
    <% end %>
  </div>

  <div class="tab-content flex-grow-1" id="list-tabContent">
    <div class="tab-pane fade show active"
          id="v-pills-email"
          role="tabpanel"
          aria-labelledby="v-pills-email-tab">
      <%= render partial: 'devise/shared/email_password_form' %>
    </div>

    <div class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab">
      <%= render partial: 'devise/shared/profile_form' %>
    </div>

    <div class="tab-pane fade"
        id="v-pills-danger"
        role="tabpanel"
        aria-labelledby="v-pills-danger-tab">
      <h2>Delete Account</h2>
      <div class="form-text" id="deletionHelp">
        <strong>Account deletion is permanent and irreversible.</strong>
        <ul>
          <li>Deleting your account will delete all data associated with you from the database</li>
          <li>No data referencing you will remain on the server</li>
        </ul>
      </div>
      <%= button_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' do %>
        <i class="fas fa-user-slash"></i> Delete Account
      <% end %>
    </div>
  </div>
</div>