<div class="row g-3 align-items-center mt-3">
  <div class="col-auto">
    <%= form.button :submit, class: 'btn btn-primary' do %>
      <i class="fas fa-long-arrow-alt-right"></i> Update
    <% end %>
  </div>
</div>