<div class="row">
  <div class="col-lg-3 col-sm-12">
    <div class="card bg-dark" style="margin-top: 128px">
      <% if @user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize_to_limit: [256, 256]), class: 'rounded-circle profile-avatar' %>
      <% else %>
        <i class="bi-question no-avatar__large card-img-top"></i>
      <% end %>

      <div class="card-body text-center" style="margin-top: -128px">
        <h4 class="card-title"><%= @user.username %></h4>
      </div>
    </div>
  </div>
</div>