$primary: #8540f5;

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap');

body {
  background: rgb(13, 17, 23);
  color: #fff;
  font-family: 'Inter', $font-family-sans-serif;
}

h1, .navbar-brand, .rounded-bold {
  font-family: 'Poppins', $font-family-sans-serif;
  font-weight: 700;
}

a.dropdown-toggle.dropdown-h1:after {
  vertical-align: 0.6em;
}

.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', $font-family-sans-serif;
  }
}

.turbo-progress-bar {
  background-color: $primary;
}

.form-floating.dark {
  color: white !important;
}

.navbar {
  border: 1px solid $gray-800;
  border-radius: 0.25em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 1em;
}

mark {
  background-color: rgba(252, 248, 227, 0.75) !important;
  border-radius: 0.275em;
}

@mixin no-avatar {
  background: rgb(100, 100, 100);
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.no-avatar {
  &__xsmall {
    @include no-avatar;
    font-size: 12px;
    width: 24px;
    height: 24px;
    padding: 6px;
  }

  &__small {
    @include no-avatar;
    width: 32px;
    height: 32px;
    padding: 8px;
  }

  &__large {
    @include no-avatar;
    font-size: 128px;
    width: 256px;
    height: 256px;
    padding: 64px;
  }
}

.profile-avatar {
  box-shadow: 0px 8px 30px -10px rgba(0,0,0,0.60);
  vertical-align: baseline;
}

.gallery-image {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

.gallery-link {
  max-width: 512px;
}

.text-fade {
  position: relative;

  &:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0.375rem;
    width: 95%;
    height: 4em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $dark 100%);
  }
}

.journal-card {
  width: 256px;
  height: 256px;
}

.lightbox {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 1000000;
}

.lightbox img {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 50px 12px rgb(0, 0, 0);
  max-height: 99%;
  max-width: 99%;
}

.deleted-comment {
  background: repeating-linear-gradient(
    -55deg,
    rgba(0,0,0,.15),
    rgba(0,0,0,.15) 10px,
    rgba(0,0,0,0) 10px,
    rgba(0,0,0,0) 20px
  );
}

.markdown-body p:last-of-type {
  margin-bottom: 0 !important;
}