$primary: #8540f5;
@import "bootstrap";

body {
  background: rgb(13, 17, 23);
  color: #fff;
}

.turbolinks-progress-bar {
  background-color: $primary;
}

.form-floating > label, .toast {
  color: initial !important;
}

.navbar {
  border: 1px solid $gray-800;
  border-radius: 0.25em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 1em;
}
