body {
  background: rgb(13, 17, 23);
  color: rgb(255, 255, 255);
  font-family: 'Inter', $font-family-sans-serif;
}

a {
  text-decoration: none;
}

mark {
  background-color: rgba(252, 248, 227, 0.75) !important;
  border-radius: 0.275em;
}