.gallery-image {
  height: 256px;
  object-fit: cover;
  width: 100%;
}

.gallery-link {
  max-width: 512px;
}

.journal-card {
  max-height: 256px;
  position: relative;
  overflow: hidden;
  content: '';

  &__wall {
    height: 256px;
    min-width: 256px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 128px, $dark);
    border-radius: $border-radius;
  }
}