h1, .navbar-brand, .rounded-bold {
  font-family: 'Poppins', $font-family-sans-serif;
  font-weight: 700;
}

.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', $font-family-sans-serif;
  }
}