<% if @post.image %>
  <div class="col-lg-8 mb-3">
    <%= link_to '#', data: { action: 'click->lightbox#toggle' } do %>
      <%= image_tag @post.image(:large).url, class: 'rounded img-fluid' if @post.image %>
    <% end %>
  </div>

  <div class="lightbox d-none position-fixed" data-lightbox-target="lightbox" data-action="click->lightbox#toggle">
    <%= image_tag @post.image(:large).url, class: 'rounded img-fluid position-absolute', data: { action: 'keyup@window->lightbox#close' } if @post.image %>
  </div>
<% end %>