<div class="row d-flex justify-content-center" id="comments">
  <% unless @post.comments.empty? && !user_signed_in? %>
    <h5 class="mt-4">Comments</h5>
  <% end %>

  <%= render partial: 'comments/form', locals: { commentable: @post } if user_signed_in? %>

  <% if params[:comment] %>
    <div class="mb-1">
      <small class="text-muted">
        Viewing a single thread.
        <%= link_to 'See all comments...', url_for(), class: 'text-decoration-none' %>
      </small>
    </div>
  <% end %>
  <%= render @comments, continue_thread: 4 %>
</div>