<div class="row justify-content-center">
  <% if @post.persisted? && @post.image %>
    <div class="col-lg-6 mb-3">
      <%= image_tag @post.image(:large).url, class: 'rounded img-fluid' if @post.image %>
    </div>
  <% end %>

  <div class="col-lg-6">
    <h1>Editing Post</h1>

    <%= render 'form' %>
  </div>
</div>