<div class="row justify-content-center">
  <% if @post.persisted? && @post.image.attached? %>
    <div class="col-lg-6 mb-3">
      <%= image_tag @post.image.variant(resize_to_limit: [1000, 1000], quality: 100), class: 'rounded img-fluid' if @post.image.attached? %>
    </div>
  <% end %>

  <div class="col-lg-6">
    <h1>Editing Post</h1>

    <%= render 'form' %>
  </div>
</div>